*{margin:0px;padding:0px;}
#hovertable{margin-top:25px;}
h1{text-align:center;margin:10px auto 10px auto;}
h2{margin:5px 0px 5px 0px;font-weight:bolder;}
p{text-indent:2em;margin:5px 0px 5px 0px;font-size:14pt;line-height:150%;}
.tableList {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	text-align:left;margin:0px auto;
}
.tableListBcolor th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
th{
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.tableListBcolor tr {
	background-color:#d4e3e5;
}
.tableList td {
	width:100px;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.popFcolor{
	color:white;
}